/*Variáveis e Fontes */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
:root{
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-dnc: #C9C9C9;
}

/* Configurações Gerais da Página */

*{
    color: white;
    font-family: 'Inter'; 
    margin: 0;
    padding: 0;
}

body{
    background:linear-gradient(180deg, rgba(12, 112, 242, 0.5) 20%, rgba(12,112,242,0) 25%), #303030;
    background-repeat: no-repeat;
}

#principal{
    border: 0;
    background-color: var(--preto-dnc);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
    font-weight: 600;
    text-decoration: none;
    font-size: 25px;
    padding-left: 5%;
    padding-right: 5%;
}

#menu{
    display: flex;
    width: 45%;
    justify-content: space-around;
    font-size: 25px;
    font-weight: 600;
}

a{
    text-decoration: none;
}

#principal div a:hover{
    color: #cccccc;
}

#botao{
    background-color:var(--azul-dnc) ;
    border: 0;
    height: 40px;
    width: 80px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 3px 2px 4px rgba(12,112,242, 0.25);
    cursor: pointer;
}


/* Seção Principal do Site */

section{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

header{
    text-align: center;
}

header h1{
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: 20px;
}

header p{
    font-size: 40px;
}

.invert{
    background-color: black;
    font-weight: bold;
}

/* Formulário */

#form{
    font-weight: 600;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 600px;
}

#form label{
    padding: 10px 0 10px 0;
}

#form input{
border-radius: 10px;
border: 0;
height: 40px;
font-size: 20px;
padding-left: 10px;
background-color: rgba(255, 255, 255, 0.9);
}

#form input::placeholder{
    color: rgba(57, 57, 57, 0.5);
}

.checkbox-itens{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="checkbox"]{
    transform: scale(1.7);
}

#button{
    background-color: rgba(12, 112, 242, 0.9);
    height: 56px;
    margin-top: 60px;
    font-size: 32px;
    color: white;
    border: 0;
    box-shadow: 6px 9px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

/* Rodapé */

footer{
    background-color: var(--azul-dnc);
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}

.linha1{
    display: flex;
    justify-content: space-around;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

footer ul li{
    padding: 10px 0 10px 0;
}

footer ul li a:hover{
    cursor: pointer;
    color: var(--cinza-dnc);
}

#endereco{
    margin-top: 150px;
}

.titulo{
    background-color: #303030;
    border: 0;
    border-radius: 10px;
    font-weight: 800;
    padding: 5px 10px 5px 10px;
    align-items: center;
    margin: 20px auto;
}

.titulo1{
    width: 100px;
}

.linha2{
    padding: 50px;
}

@media only screen and (max-width: 600px){
    
    /* Menu */

    #principal{
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    #menu{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #menu a{
        display: flex;
        height: 50px;
    }
    
    #botao{
        width: 100%;
        margin: 0px;
    }

    /*Seção */
    
    section h1{
        font-size: 38px;
    }

    section p{
        font-size: 20px;
        padding-right: 5px;
        padding-left: 5px;
    }
        
    #form{
        width: 95%;
        font-size: 20px;
    }

    .checkbox-itens label{
        font-size:10px;
    }
    
     /* Footer */

     .linha1{
        flex-direction: column;
     }
    
     #endereco{
        width: 95%;
        margin-top: 20px;
        
    }
}